﻿@{
    ViewBag.Title = "휴스턴 한인 성당 - 연락처";
}

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function()
        {
            set_nav_images(9);
        });
    </script>
}

<table width="960" border="0" cellpadding="5" cellspacing="5">
    <tr>
        <td width="60" rowspan="2" ></td>
        <td height="95" rowspan="2" align="right" valign="top"><img src="/Images/logo.png" height="94" /></td>
        <td valign="top" align="left" class="clsGreyTitle">연락처</td>
    </tr>
	<tr>
        <td valign="top">
            <table>
                <tr>
                    <td valign="top">
			            <div class="clsPageTextBlkBold" align="left">주임 신부</div>
			            <div class="clsPageTextBlk" style="text-align:left">
				            <ul>
					            <li>이용혁 (요한) (Rev. Yong H. Lee)</li>                      
					            <li>713-932-7401</li>
					            <li>e-mail : <a href="mailto:frlee5528@yahoo.com">frlee5528@yahoo.com</a></li> 
                            </ul>
                        </div>
                    </td>
                </tr>
		        <tr>
                    <td valign="top">
				        <div class="clsPageTextBlkBold" align="left">사목회장</div>
				        <div class="clsPageTextBlk" style="text-align:left">
					        <ul>
						        <li>김여순 (도미니카)</li>                 
						        <!--<li>281-804-8269</li>
						        <li>e-mail : <a href="mailto:bjsoh@hotmail.com">bjsoh@hotmail.com</a></li> 
                    			        </ul>-->
				        </div>
                    </td>
                </tr>
		        <tr>
                    <td valign="top">
				        <div class="clsPageTextBlkBold" align="left">사무실</div>
				        <div class="clsPageTextBlk" style="text-align:left">
					        <ul>
						        <li>전화 : 713-465-2682</li>               
						        <li>팩스 : 713-465-5974</li>               
						        <li>e-mail : <a href="mailto:standrewkimhouston@yahoo.com">standrewkimhouston@yahoo.com</a></li> 
                    			        </ul>
				        </div>
                    </td>
                </tr>
		        <tr>
                    <td valign="top">
				        <div class="clsPageTextBlkBold" align="left">사무실 시간</div>               
				        <div class="clsPageTextBlk" style="text-align:left">
					        <ul>
						        <li>월, 화 (9시 - 5시)</li>               
						        <li>수 (Closed)</li>                      
						        <li>목 - 주일 (9시 - 5시)</li>               
                                        </ul>
				        </div>
			        </td>
                </tr>
                <tr>
                    <td valign="top">
						<div class="clsPageTextBlkBold" align="left">웹마스터</div>
						<div class="clsPageTextBlk" style="text-align:left">
							<ul>
								<!--<li>홈페이지와 관련된 시정 사항이나 의견은 <a href="mailto:saint.a.kim@gmail.com">saint.a.kim@gmail.com</a> 으로 보내 주시기 바랍니다.</li>-->
								<li>홈페이지와 관련된 시정 사항이나 의견은 <a href="mailto:saint.a.kim@gmail.com">saint.a.kim@gmail.com</a> 으로 보내 주시기 바랍니다.</li>
								<!--<li>휴스턴으로 처음 오시는 분이나 이주와 관련해서 도움이 필요하신 분들도 연락 주시기 바랍니다.</li>-->
                            </ul>
						</DIV>
                    </td>
                </tr>
		        <tr>
                    <td valign="top">
				        <div class="clsPageTextBlkBold" align="left">주소</div>               
				        <div class="clsPageTextBlk" style="text-align:left">
                            <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;휴스턴 한인 천주교회<br />
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;St. Andrew Kim Catholic Church<br />
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Archdiocese of Galveston-Houston<br />
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1706 Bingle Road<br />
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Houston, TX 77055<br />
				        </div>
			        </td>
                </tr>
            </table>
        </td>
    </tr>
</table>