﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="/Content/main.css" type="text/css"  />
    <link rel="stylesheet" href="/Content/themes/base/jquery-ui.css" type="text/css" />
    <script type="text/javascript" src="/Scripts/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/Scripts/jquery-ui-1.8.20.min.js"></script>
    <script type="text/javascript" src="/Scripts/main.js"></script>
    @RenderSection("scripts", required: false)
</head>
<body>
    <form id="form1" runat="server">
        <br />
        <br />
		<div align="center">
		  <table width="1100" height="150" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="70"></td>
              <td height="30" colspan="3" align="right" class="underlinedSmallText">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="today_text_span"></span></td>
              <td width="70"></td>
            </tr>
            <tr>
              <td width="70"></td>
              <td height="95" rowspan="2" align="right"><img src="/Images/andrew.png"/></td>
              <td colspan="2" align="left"><img src="/Images/work/blank.png" width="20" /><img src="/Images/work/header.png" width="334" /></td>
              <td width="70"></td>
            </tr>
            <tr>
              <td width="70"></td>
              <td width="222" height="23" align="right" valign="middle"><img src="/Images/work/blank.png" width="20" height="10" /><img src="/Images/work/nav_front.png" width="202" height="23" /></td>
              <td height="25" align="left" valign="middle"><img id="nav_1" src="/Images/nav_imgs/1.jpg" style="cursor:pointer"/><img id="nav_2" src="/Images/nav_imgs/2.jpg" style="cursor:pointer"/><img id="nav_3" src="/Images/nav_imgs/3.jpg" style="cursor:pointer"/><img id="nav_4" src="/Images/nav_imgs/4.jpg" style="cursor:pointer"/><img id="nav_5" src="/Images/nav_imgs/5.jpg" style="cursor:pointer"/><img id="nav_6" src="/Images/nav_imgs/6.jpg" style="cursor:pointer"/><img id="nav_7" src="/Images/nav_imgs/7.jpg" style="cursor:pointer"/><img id="nav_8" src="/Images/nav_imgs/8.jpg" style="cursor:pointer"/><img id="nav_9" src="/Images/nav_imgs/9.jpg" style="cursor:pointer"/></td>
              <td width="70"></td>
            </tr>
		  </table>
          <p><img src="/Images/work/blank.png" height="2" /></p>
          <div style="width:1000;">

            @RenderBody()

          </div>
            <br />
	        <br/>
	        <hr width="500"/>
	        <div align="center">
		        <table id="Table1" cellspacing="0" cellpadding="0" width="650" border="0">
			        <tbody>
				        <tr>
					        <td class="clsSmallGray" style="PADDING-LEFT: 5px; PADDING-TOP: 10px" align="center">Copyright                                               
						        2007-2013. All Rights Reserved. St. Andrew Kim Catholic Church 1706 Bingle Rd.,                                               
						        Houston, Texas 77055                                              
					        </td>
				        </tr>
			        </tbody>
		        </table>
	        </div>
            <br />
	        <br/>
            <br />
	        <br/>
        </div>
    </form>
</body>
</html>
