﻿@{
    ViewBag.Title = "휴스턴 한인 성당 - 정기 모임";
}

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function()
        {
            set_nav_images(8);
        });
    </script>
}

<table width="960" border="0" cellpadding="5" cellspacing="5">
    <tr>
        <td width="100" rowspan="4" ></td>
        <td height="95" rowspan="4" align="right" valign="top"><img src="/Images/logo.png" height="94" /></td>
        <td width="30" rowspan="4"></td>
        <td valign="top" align="left" class="clsGreyTitle">정기 모임</td>
        <td width="100"rowspan="4" ></td>
    </tr>
    <tr>
        <td valign="top" class="clsPageTextBlk" style="text-align:left">
	            <table>
		            <tr><td>사목회 :</td><td>매월 둘째 주일 오후 1:00</td></tr>
		            <tr><td>구역장 모임 :</td><td>매월 셋째 주일 오후 12:30</td></tr>
		            <tr><td>꾸리아 :</td><td>매월 둘째 화요일 저녁 미사후</td></tr>
		            <tr><td>울뜨레아 :</td><td>매월 첫째 주일 오후 12:45</td></tr>
		            <tr><td>성령기도회 :</td><td>매주 수요일 오후 8:00</td></tr>
		            <tr><td>성소후원회 :</td><td>매월 셋째 수요일 오후 7:30</td></tr>
		            <tr><td>대건농악대 :</td><td>매월 셋째 화요일 오후 8:00</td></tr>
		            <tr><td>재속프란치스코회 :</td><td>매월 첫 토요일 신심 미사후</td></tr>
		            <tr><td>쎌기도 모임 :</td><td>매월 첫 토요일 신심 미사후</td></tr>
                </table>
        </td>
    </tr>
    <tr>
        <td valign="top">&nbsp;
        </td>
    </tr>
    <tr>
        <td valign="top">
            <div class="clsPageTextBlkBold" align="left">레지오 마리애</div>
            <div class="clsPageTextBlk" style="text-align:left">
	            <table>
		            <tr><td>순교자들의 모후 :</td><td>주일 오전 9:00</td></tr>
		            <tr><td>은총의 모후 :</td><td>주일 오전 9:00</td></tr>
		            <tr><td>자비의 모후 :</td><td>주일 오전 9:00</td></tr>
		            <tr><td>로사리오의 모후 :</td><td>주일 오전 9:00</td></tr>
		            <tr><td>사도들의 모후 :</td><td>수요일 오후 8:00</td></tr>
		            <tr><td>구세주의 모후 :</td><td>수요일 오후 8:00</td></tr>
		            <tr><td>신비로운 장미 :</td><td>수요일 오후 8:00</td></tr>
		            <tr><td>평화의 모후 :</td><td>금요일 오전 10:30</td></tr>
		            <tr><td>샛별 (초등학생) :</td><td>주일 오전 9:15</td></tr>
		            <tr><td>은총의 중재자 :</td><td>주일 오전 9:10</td></tr>
		            <tr><td>겸손하신 어머니 :</td><td>수요일 오후 7:30</td></tr>
		            <tr><td>원죄없이 잉태되신 모후 :</td><td>수요일 오후 10:00</td></tr>
                </table>
            </div>
        </td>
    </tr>
</table>