﻿@{
    ViewBag.Title = "휴스턴 한인 성당 - 다시 보기";
}

@section Scripts{
    <script type="text/javascript" src="/Scripts/swfobject.js"></script>
    <script type="text/javascript">
        $(document).ready(function()
        {
            set_nav_images(6);

            $("#play_div").dialog({
                bgiframe: true,
                autoOpen: false,
                width: 640,
                height: 460,
                modal: true,
                close: function ()
                {
                    $(this).html('');
                }
            });
        });

        function open_photo(url)
        {
            window.open(url, '_photo', 'height=600,width=1000,top=50,left=50,resizable=yes,scrollbars=yes,menubar=no,toolbar=no,location=no');
        }

        function play(file_to_play)
        {
            if (file_to_play == "") return;

            //var file_to_play = parent.document.getElementById("file_name").value;
            //alert(file_to_play);

            var so = new SWFObject(file_to_play, "flashcontent", "500", "400", "0");
            //var so = new SWFObject("resources/bazaar2007/bazaar2007-NongAk.swf", "flashcontent", "550", "400", "6");
            so.addParam("wmode", "transparent");
            so.write("flashcontent");
        }
        
        function play_vimeo(video_id, width, height)
        {
            if(video_id == "")  return;
            $('#play_div').html('<object width="' + width + '" height="' + height + '"><param name="allowfullscreen" value="true" /><param name="allowscriptaccess" value="always" /><param name="movie" value="http://vimeo.com/moogaloop.swf?clip_id=' + video_id + '&amp;server=vimeo.com&amp;show_title=0&amp;show_byline=0&amp;show_portrait=0&amp;color=00ADEF&amp;fullscreen=1" /><embed src="http://vimeo.com/moogaloop.swf?clip_id=' + video_id + '&amp;server=vimeo.com&amp;show_title=0&amp;show_byline=0&amp;show_portrait=0&amp;color=00ADEF&amp;fullscreen=1" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" width="' + width + '" height="' + height + '"></embed></object>');
            $('#play_div').dialog('open');
        }
    </script>
}

<table width="960" border="0" cellpadding="3" cellspacing="3">
    <tr>
        <td width="100" height="95" rowspan="2" align="center" valign="top"><img src="/Images/logo.png" height="94" /></td>
        <td width="860" valign="top" colspan="2" align="left" class="clsGreyTitle">다시보기</td>
    </tr>
	<tr>
		<td width="400" valign="top">
		<table>
		<tr>
		<td valign="top"  width="50%">
			<div class="clsPageTextBlkBold" align="left">사진 보기</div>
			<div class="clsPageTextBlk" style="text-align:left; padding-bottom:10">
				<ol>
					<li><a href="#" onclick="javascript:open_photo('https://picasaweb.google.com/Saint.A.Kim/201104?authuser=0&authkey=Gv1sRgCP3d2v7q3MSRSQ&feat=directlink');return false;">2011 송년의 밤</a></li><p />
					<li><a href="#" onclick="javascript:open_photo('https://picasaweb.google.com/Saint.A.Kim/201102?authuser=0&authkey=Gv1sRgCOPOpbuog77owAE&feat=directlink');return false;">2011 레지오 연차 총 친목회</a></li><p />
					<li><a href="#" onclick="javascript:open_photo('https://picasaweb.google.com/Saint.A.Kim/201120111218?authuser=0&authkey=Gv1sRgCOvt54HChdy4Yw&feat=directlink');return false;">2011 주일 학교 학예회</a></li><p />
					<li><a href="#" onclick="javascript:open_photo('https://picasaweb.google.com/Saint.A.Kim/201103?authuser=0&authkey=Gv1sRgCJDekMvnzJO9CQ&feat=directlink');return false;">2011 한마음 큰잔치</a></li><p />
					<li><a href="#" onclick="javascript:open_photo('https://picasaweb.google.com/Saint.A.Kim/2011GarageSale?authuser=0&authkey=Gv1sRgCMqHkpHDlZe25AE&feat=directlink');return false;">2011 Garage Sale</a></li><p />
					<li><a href="#" onclick="javascript:open_photo('http://picasaweb.google.com/Saint.A.Kim/2010?authkey=Gv1sRgCLTYxICW9ov_1wE&feat=directlink');return false;"><!--<img src='resources/images/new.png' width="40" height="30" border='0'/>-->2010 레지오 연차 총 친목회</a></li><p />
					<li><a href="#" onclick="javascript:open_photo('http://picasaweb.google.com/Saint.A.Kim/201002?authkey=Gv1sRgCNnwmbX0npXvJQ&feat=directlink');return false;">2010 할로윈 잔치</a></li><p />
					<li><a href="#" onclick="javascript:open_photo('http://picasaweb.google.com/Saint.A.Kim/200905?authkey=Gv1sRgCJHJ4L-QqLGa3wE&feat=directlink');return false;">2009 송년의 밤</a></li><p />
					<li><a href="#" onclick="javascript:open_photo('http://picasaweb.google.com/Saint.A.Kim/200906?authkey=Gv1sRgCL_Srt76ncOicA&feat=directlink');return false;">2009 주일 학교 학예회</a></li><p />
					<li><a href="#" onclick="javascript:open_photo('http://picasaweb.google.com/Saint.A.Kim/200904?authkey=Gv1sRgCObqtJuDjpiMbg&feat=directlink');return false;">2009 레지오 연차 총 친목회</a></li><p />
					<li><a href="#" onclick="javascript:open_photo('http://picasaweb.google.com/Saint.A.Kim/200902?authkey=Gv1sRgCLCQpsaTwIm3JQ&feat=directlink');return false;">2009 한마음 큰잔치</a></li><p />
					<li><a href="#" onclick="javascript:open_photo('http://picasaweb.google.com/Saint.A.Kim/200903?authkey=Gv1sRgCMras7fAl9j92gE&feat=directlink');return false;">2009 할로윈 파티</a></li><p />
					<li><a href="#" onclick="javascript:open_photo('http://picasaweb.google.com/Saint.A.Kim/2009?authkey=Gv1sRgCIDlucq-29KG0QE&feat=directlink');return false;">2009 주일 학교 여름 캠프</a></li><p />
					<li><a href="#" onclick="javascript:open_photo('http://picasaweb.google.com/Saint.A.Kim/200804?authkey=uWc7kX-blaQ&feat=directlink');return false;">2008 송년의 밤</a></li><p />
					<li><a href="#" onclick="javascript:open_photo('http://picasaweb.google.com/Saint.A.Kim/200802?authkey=OuoJtIA41Vs&feat=directlink');return false;">2008 레지오 연차 총 친목회</a></li><p />
					<li><a href="#" onclick="javascript:open_photo('http://stakim.org/bible_writing.html');return false;">2008 사순절 성서필사 입상 작품</a></li><p />
					<li><a href="#" onclick="javascript:open_photo('https://picasaweb.google.com/Saint.A.Kim/2007?authuser=0&authkey=Gv1sRgCMe70dOH3rfHEQ&feat=directlink');return false;">2007 레지오 연차 총 친목회</a></li><p />
                </ol>
			</div>
		</td>
		</tr>
		</table>
		</td>
		<td width="460" valign="top">
		<table>
		<tr>
		<td valign="top"  width="50%">
			<div class="clsPageTextBlkBold" align="left">동영상 보기</div>                          
			<div class="clsPageTextBlk" style="text-align:left">
				<ol>
					<li><span>2011 송년의 밤</span>           
			            <select class="clsText" name="movielist" onChange="javascript:play_vimeo(this.value, 600, 398)">           
				            <option value="">동영상을 선택하세요...</option>
				            <option value="34726054">시작</option>
                            <option value="34903133">4구역</option>
                            <option value="34903339">5구역</option>
                            <option value="34904725">6구역</option>
				            <option value="34905128">7구역</option>
				            <option value="34905355">9구역</option>
				            <option value="34905534">11구역</option>
				            <option value="34905652">12구역</option>
				            <option value="34905983">College Station 1</option>
				            <option value="34906342">College Station 2</option>
				            <option value="34906491">College Station 3</option>
				            <option value="34906611">College Station 4</option>
				            <option value="34906723">College Station 5</option>
				            <option value="34906917">College Station 6</option>
			            </select>
			        </li><p />
					<li><span>2011 레지오 연차 총 친목회</span>           
			            <select class="clsText" name="movielist" onChange="javascript:play_vimeo(this.value, 600, 398)">           
				            <option value="">동영상을 선택하세요...</option>
				            <option value="34576250">저녁 식사</option>
				            <option value="34589340">시작</option>
				            <option value="34596136">로사리오의 모후</option>
				            <option value="34595593">순교자들의 모후</option>
                            <option value="34589637">은총의 중재자</option>
                            <option value="34596191">컬리지 스테이션</option>
				            <option value="34596447">평화의 모후</option>
				            <option value="34596523">사도들의 모후</option>
				            <option value="34595989">자비의 모후</option>
				            <option value="34596660">은총의 모후</option>
				            <option value="34595922">신비로운 장미</option>
				            <option value="34595696">어린이 게임</option>
				            <option value="34596809">마무리</option>
			            </select>
			        </li><p />
					<li><span>2010 설날 행사 및 송년의 밤</span>           
			            <select class="clsText" name="movielist" onChange="javascript:play_vimeo(this.value, 600, 398)">           
				            <option value="">동영상을 선택하세요...</option>
				            <option value="9528329">설날 행사</option>
				            <option value="18514890">송년의 밤</option>
			            </select>
			        </li><p />
					<!--<li><span>__2010 레지오 연차 총 친목회</span>           
			            <select class="clsText" name="movielist" onChange="javascript:play_vimeo(this.value, 600, 398)">           
				            <option value="">동영상을 선택하세요...</option>
                            <option value="34597860">컬리지 스테이션</option>
				            <option value="34598059">사도들의 모후</option>
				            <option value="34598395">은총의 모후</option>
			            </select>
			        </li><p />-->
					<li><span>2009 송년의 밤</span>           
			            <select class="clsText" name="movielist" onChange="javascript:play_vimeo(this.value, 600, 398)">           
				            <option value="">동영상을 선택하세요...</option>
				            <option value="9566545">1구역</option>
				            <option value="9572108">2구역</option>
                            <option value="9573089">3구역</option>
                            <option value="9574827">4구역</option>
                            <option value="9536086">6구역</option>
				            <option value="9589951">7구역</option>
				            <option value="9591162">9구역</option>
				            <option value="9595465">10구역</option>
				            <option value="9597000">11구역</option>
				            <option value="9598259">12구역</option>
			            </select>
			        </li><p />
					<li><span>2009 레지오 연차 총 친목회</span>           
			            <select class="clsText" name="movielist" onChange="javascript:play_vimeo(this.value, 600, 398)">           
				            <option value="">동영상을 선택하세요...</option>
				            <option value="34613816">로사리오의 모후</option>
				            <option value="34613649">순교자들의 모후</option>
                            <option value="34598806">어린이 쁘레시디움</option>
                            <option value="34614722">컬리지 스테이션</option>
				            <option value="34615509">평화의 모후</option>
				            <option value="34619414">사도들의 모후</option>
				            <option value="34615438">자비의 모후</option>
				            <option value="34615060">은총의 모후</option>
				            <option value="34615578">다함께</option>
				            <option value="34615638">마무리</option>
			            </select>
			        </li><p />
					<li><span>2009 어린이 첫 영성체</span>           
			            <select class="clsText" name="movielist" onChange="javascript:play_vimeo(this.value, 600, 398)">           
				            <option value="">동영상을 선택하세요...</option>
				            <option value="34759208">입당</option>
				            <option value="34759831">성체/성혈 예식</option>
			            </select>
			        </li><p />
					<!--<li><span>___2008 송년의 밤</span>           
			            <select class="clsText" name="movielist" onChange="javascript:play_vimeo(this.value, 600, 398)">           
				            <option value="">동영상을 선택하세요...</option>
				            <option value="9598259">전체 슬라이드</option>
				            <option value="9566545">1구역</option>
				            <option value="9572108">2구역</option>
                            <option value="9573089">3구역</option>
                            <option value="9574827">4구역</option>
                            <option value="9536086">6구역</option>
				            <option value="9589951">7구역</option>
				            <option value="9591162">9구역</option>
				            <option value="9595465">10구역</option>
				            <option value="9597000">11구역</option>
				            <option value="9598259">12구역</option>
			            </select>
			        </li><p />-->
					<li><span>2008 주일 학교 학예회</span>           
			            <select class="clsText" name="movielist" onChange="javascript:play_vimeo(this.value, 600, 398)">           
				            <option value="">동영상을 선택하세요...</option>
				            <option value="34617981">Pre-K & 1학년</option>
				            <option value="34617970">Kindergarden</option>
                            <option value="34617896">First Communion</option>
                            <option value="34617903">4학년</option>
                            <option value="34617918">6학년 - 1</option>
				            <option value="34617927">6학년 - 2</option>
				            <option value="34617938">9학년</option>
				            <option value="34617951">12학년</option>
			            </select>
			        </li><p />
					<li><span>2008 레지오 연차 총 친목회</span>           
			            <select class="clsText" name="movielist" onChange="javascript:play_vimeo(this.value, 600, 398)">           
				            <option value="">동영상을 선택하세요...</option>
				            <option value="34598562">로사리오의 모후</option>
				            <option value="34597550">순교자들의 모후</option>
                            <option value="34597823">은총의 중재자 - 1</option>
                            <option value="34597834">은총의 중재자 - 2</option>
                            <option value="34597860">컬리지 스테이션</option>
				            <option value="34597927">평화의 모후</option>
				            <option value="34597968">세나투스 단장 & 부단장</option>
				            <option value="34598059">사도들의 모후 - 1</option>
				            <option value="34598098">사도들의 모후 - 2</option>
				            <option value="34598151">자비의 모후</option>
				            <option value="34598294">은총의 모후 - 1</option>
				            <option value="34598395">은총의 모후 - 2</option>
				            <option value="34598484">다함께</option>
			            </select>
			        </li><p />
					<li><span>2008 여름 학교</span>                       
			            <select class="clsText" name="movielist" onChange="javascript:play_vimeo(this.value, 600, 398)">                       
				            <option value="">동영상을 선택하세요...</option>
				            <option value="34617759">고전 무용</option>
				            <option value="34617777">골프</option>
				            <option value="34617786">키타</option>
				            <option value="34617797">한국어 - 기초</option>
				            <option value="34617805">한국어 - 중급</option>
				            <option value="34617817">종이 접기</option>
				            <option value="34617836">태권도</option>
				            <option value="34617847">배구</option>
			            </select>
			        </li><p />
					<li><span>2008 부활절 및 기타 행사</span>                       
			            <select class="clsText" name="movielist" onChange="javascript:play_vimeo(this.value, 600, 398)">                       
				            <option value="">동영상을 선택하세요...</option>
				            <option value="34622901">성서 필사 입상작</option>
				            <option value="34622997">계란 봉헌</option>
				            <option value="34623035">첫 영성체</option>
				            <option value="34623049">그림 교실</option>
			            </select>
			        </li><p />
					<!--<li><span>___2007 송년의 밤</span>           
			            <select class="clsText" name="movielist" onChange="javascript:play_vimeo(this.value, 600, 398)">           
				            <option value="">동영상을 선택하세요...</option>
				            <option value="9566545">1구역</option>
				            <option value="9572108">2구역</option>
                            <option value="9573089">3구역</option>
                            <option value="9574827">4구역</option>
                            <option value="9536086">6구역</option>
				            <option value="9589951">7구역</option>
				            <option value="9591162">9구역</option>
				            <option value="9595465">10구역</option>
				            <option value="9597000">11구역</option>
				            <option value="9598259">12구역</option>
			            </select>
			        </li><p />-->
                </ol>
			</div>
		</td>
		</tr>
        <tr>
			<td align="left">
				<div id="flashcontent"><!--<br/>This video requires Javascript to be enabled, and requires the 
      			    <a href="http://www.adobe.com/go/getflashplayer">Adobe Flash Player.</a>-->
    			</div>
			</td>
		</tr>
		</table>
		</td>
	</tr>
</table>
        
<div id="play_div">
</div>