﻿@{
    ViewBag.Title = "휴스턴 한인 성당 - 미사 안내";
}

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function()
        {
            set_nav_images(7);
        });
    </script>
}

<table width="860" border="0" cellspacing="10" cellpadding="10" >
	<tbody>
        <tr>
            <td width="100" rowspan="6"></td>
            <td height="95" rowspan="6" align="right" valign="top"><img src="/Images/logo.png" height="94" /></td>
            <td valign="top" colspan="2" align="left" class="clsGreyTitle">미사 안내</td>
        </tr>
		<tr>
			<td valign="top"  width="50%">
				<div class="clsPageTextBlkBold" align="left">주일 미사</div>
				<div class="clsPageTextBlk" style="text-align:left">
					<ul>
						<li>토요 특전 - 오후 8:00</li>                                  
						<li>주일 - 오전 9:00</li>                           
						<li>교중 미사 - 오전 10:30</li>                                
						<li>Life Teen &amp; Family Mass - 오후 12:00 (영어미사)</li>                                
                        		</ul>
				</div>
			</td>
			<td valign="top"  width="50%">
				<div class="clsPageTextBlkBold" align="left">평일 미사</div>                          
				<div class="clsPageTextBlk" style="text-align:left">
					<ul>
						<li>화,수,목 - 오후 7:30</li>                        
						<li>금요일 - 오전 10:00</li>                                  
                        		</ul>
				</div>
			</td>
		</tr>
		<tr>
			<td valign="top"  width="50%">
				<div class="clsPageTextBlkBold" align="left">성모 신심 미사</div>                       
				<div class="clsPageTextBlk" style="text-align:left">
					<ul>
						<li>매월 첫토요일 오전 10:00</li>                                  
                        		</ul>
				</div>
			</td>
			<td valign="top"  width="50%">
				<div class="clsPageTextBlkBold" align="left">고해 성사</div>                      
				<div class="clsPageTextBlk" style="text-align:left">
					<ul>
						<li>미사시작  30분전</li>                      
                        		</ul>
				</div>
			</td>
		</tr>
		<tr>
			<td valign="top"  width="50%">
				<div class="clsPageTextBlkBold" align="left">성시간</div>
				<div class="clsPageTextBlk" style="text-align:left">
					<ul>
						<li>매월 첫목요일 오후</li>             
                        		</ul>
				</div>
			</td>
			<td valign="top"  width="50%">
				<div class="clsPageTextBlkBold" align="left">환자봉성체</div>
				<div class="clsPageTextBlk" style="text-align:left">
					<ul>
						<li>매월 둘째주</li>
					</ul>
				</div>
			</td>
		</tr>
		<tr>
			<td valign="top"  width="50%">
				<div class="clsPageTextBlkBold" align="left">성서 백주간</div>
				<div class="clsPageTextBlk" style="text-align:left">
					<ul>
						<li>매주 목요일 오후 8:00 (남성, 여성)</li>                   
						<li>매주 금요일 오전 10:30 (여성)</li>                   
					</ul>
				</div>
			</td>
			<td valign="top"  width="50%">
				<div class="clsPageTextBlkBold" align="left">청년 성서반</div>                  
				<div class="clsPageTextBlk" style="text-align:left">
					<ul>
						<li>(한글) 매주 금요일 오후 8:00</li>                 
						<li><a href="http://www.youthstakim.com/">www.youthstakim.com</a></li>                 
					</ul>
				</div>
			</td>
		</tr>
		<tr>
			<td valign="top"  width="50%">
				<div class="clsPageTextBlkBold" align="left">예비자 교리</div>                 
				<div class="clsPageTextBlk" style="text-align:left">
					<ul>
						<li>매주 주일 (한글반) - 오후 1:00</li>                                  
                            	</ul>
				</div>
			</td>
			<td valign="top"  width="50%">
				<div class="clsPageTextBlkBold" align="left">이냐시오 영성 수련 모임</div>                                  
				<div class="clsPageTextBlk" style="text-align:left">
					<ul>
						<li>매주 목요일 오후 8:00</li>                                  
                        		</ul>
				</div>
				<P></P>
			</td>
		</tr>
	</tbody>
</table>