
@font-face {
	font-family: "Daum_Regular";
	src: url(Daum_Regular.eot);
	src: local("Daum_Regular"), url("Daum_Regular.ttf") format("truetype"); 
}
@font-face {
	font-family: "Daum_SemiBold";
	src: url(Daum_SemiBold.eot);
	src: local("Daum_SemiBold"), url("Daum_SemiBold.ttf") format("truetype"); 
	font-weight: bold;
}
/*@font-face {
	font-family: "NanumMyeongjo";
	src: url(NanumMyeongjo.eot);
	src: local("NanumMyeongjo"), url("NanumMyeongjo.ttf") format("truetype"); 
}
@font-face {
	font-family: "NanumMyeongjo";
	src: url(NanumMyeongjoBold.eot);
	src: local("NanumMyeongjo"), url("NanumMyeongjoBold.ttf") format("truetype"); 
	font-weight: bold;
}
 @font-face {
	font-family: "NanumGothic";
	src: url(NanumGothic.eot);
	src: local("NanumMyeongjo"), url("NanumGothic.ttf") format("truetype"); 
}
 @font-face {
	font-family: "NanumGothic";
	src: url(NanumGothicBold.eot);
	src: local("NanumMyeongjo"), url("NanumGothicBold.ttf") format("truetype"); 
	font-weight: bold;
}
*/

BODY {
	padding: 0px;
	margin: 0px;
	background-color: #FFFFDE
	/*background-position: top center;
	background-image:url(../images/bg1.jpg);
	background-repeat: no-repeat;*/
	
	color:#ffffff;
	min-width:750px;
	FONT-FAMILY: Daum_Regular,NanumMyeongjo,Helvetica,Gungsuh,Dotum; FONT-WEIGHT: normal; FONT-SIZE: 10pt;
}


ul#nav {
	list-style: none;
	width: 800px;
	FONT-FAMILY: Daum_Regular,NanumMyeongjo,Helvetica,sans-serif; FONT-WEIGHT: bold; FONT-SIZE: 10pt;
	padding: 0 0px;
	border-bottom: 0px solid #000;
 	float: left;
	clear: both;
}
ul#nav li {
	padding: 0.85em 30px 0.7em 0;
	font: bold 1.0em Dotum;
	text-transform: uppercase;
	float: left;
}

ul#nav li a, ul#nav li a:visited {
	color: #000;
	text-decoration: none;
}

ul#nav li a:hover {
	color: #000;
	text-decoration: underline;
}
ul#nav li a.current, ul#nav li a.current:visited, ul#nav li a.current:hover {
 	color: #090;
	text-decoration: underline;
}


A {
	COLOR: #000099; TEXT-DECORATION: none
}
A.clsMainNavTitle {
	FONT-FAMILY: Daum_SemiBold,NanumMyeongjoBold; FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: black; TEXT-DECORATION: none
}
A.clsMainNavTitle_Selected {
	FONT-FAMILY: Daum_SemiBold,NanumMyeongjoBold; FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: #00ff00; TEXT-DECORATION: none
}
A.clsMainNavTitle:hover {
	FONT-FAMILY: Daum_SemiBold,NanumMyeongjoBold; FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: #FF8080; TEXT-DECORATION: none
}

.clsPageTextBlk {
	FONT: Daum_Regular,NanumMyeongjo,Helvetica; FONT-SIZE: 12pt; COLOR: #000000
}

.clsPageSmallTextBlk {
	FONT: Daum_Regular,NanumMyeongjo,Helvetica; FONT-SIZE: 10pt; COLOR: #000000
}

.clsPageTextFocus {
	FONT: Daum_Regular,NanumMyeongjo,Helvetica,sans-serif; FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #8000ff
}

.underlinedSmallText {
	FONT: Daum_Regular,NanumMyeongjo,Helvetica,sans-serif; FONT-SIZE: 8pt; font-weight:bold; text-decoration:underline; COLOR: #000000
}


.clsBlueHeader {
	FONT-FAMILY: Daum_Regular,NanumMyeongjo;
	FONT-WEIGHT: bold;
	FONT-SIZE: 16pt;
	MARGIN-LEFT: 0px;
	COLOR: #000000;
}

.clsGreyTitle {
	FONT-FAMILY: Daum_Regular,NanumGothic,Helvetica;
	FONT-WEIGHT: bold;
	FONT-SIZE: 16pt;
	MARGIN-LEFT: 0;
	COLOR: #222222;
}

.clsPromoWhiteTitle {
	FONT-FAMILY: Daum_Regular,NanumMyeongjo;
	FONT-WEIGHT: bold;
	FONT-SIZE: 12pt;
	text-align: left;
	text-indent: 20;
	line-height: 1.5;
	MARGIN-LEFT: 0px;
	COLOR: #ffffff;
	border-left: #c6cc8f 1px solid;	
	background-image:url(../images/title_650.bmp);
}
.clsPromoSmallWhiteTitle {
	FONT-FAMILY: Daum_Regular,NanumMyeongjo;
	FONT-WEIGHT: bold;
	FONT-SIZE: 10pt;
	text-align: left;
	text-indent: 20;
	line-height: 1.5;
	MARGIN-LEFT: 0px;
	COLOR: #ffffff;
	border-left: #c6cc8f 1px solid;	
	background-image:url(../images/title_650.bmp);
}.clsPromoWhiteCenteredTitle {
	FONT-FAMILY: Daum_Regular,NanumMyeongjo;
	FONT-WEIGHT: bold;
	FONT-SIZE: 12pt;
	text-align: center;
	text-indent: 20;
	line-height: 1.5;
	MARGIN-LEFT: 0px;
	COLOR: #ffffff;
	border-left: #c6cc8f 1px solid;	
	background-image:url(../images/title_center_720.bmp);
}
.clsSmallGray {
	FONT-SIZE: 8pt; FONT-FAMILY: Daum_Regular,NanumMyeongjo,Helvetica,sans-serif; COLOR: #999999
}
.clsSmallText {
	FONT-SIZE: 8pt; FONT-FAMILY: Daum_Regular,NanumMyeongjo,Helvetica,sans-serif; COLOR: #333333
}