
table.sortable
{
	/*width: 100%;*/
}

table.sortable th
{
	vertical-align: text-bottom;
}

table.sortable th.unselected
{
	/*background-color: #B4B4B4;*/
	font-weight: bold;
	color: #000000;
	cursor: hand;
}

table.sortable th.unselected a.sortheader
{
	/*background-color: #B4B4B4;*/
	font-weight: bold;
	/*color: #000000;*/
	cursor: hand;
	text-decoration: none;
}

table.sortable th.sortup	/* when this column header is clicked for descending sort */
{
	/*background-color: #666666;*/
	font-weight: bold;
	color: #FFFFFF;
	cursor: hand;
	background-repeat: no-repeat; 
	background-position: right center;
	background-image: url(/res/app/image/sort_descending.gif);
	text-decoration: none;
}

table.sortable th.sortdown	/* when this column header is clicked for ascending sort */
{
	/*background-color: #666666;*/
	font-weight: bold;
	color: #FFFFFF;
	cursor: hand;
	background-repeat: no-repeat; 
	background-position: right center;
	background-image: url(/res/app/image/sort_ascending.gif);
	text-decoration: none;
}

table.sortable a.sortheader		/* this is only when selected as up or down */
{
	/*background-color: #666666;*/
	font-weight: bold;
	color: #FFFFFF;
	cursor: hand;
	background-repeat: no-repeat; 
	background-position: right center;
	background-image: url(none);
	text-decoration: none;
}

table.sortable tbody.light
{
	background-color: #FFFFFF;
}

table.sortable tbody.dark
{
	background-color: #E8E8E8;
}

table.sortable tr.light
{
	background-color: #FFFFFF;
}

table.sortable tr.dark
{
	/*background-color: #F8F8F8;*/
	background-color: #E8E8E8;
}

table.sortable tr.highlight
{
	background-color: #6699CC;
	font-weight: bold;
	color: #000000;
	cursor: hand;
}

table.sortable td.light
{
	background-color: #FFFFFF;
}

table.sortable td.dark
{
	background-color: #E8E8E8;
}

