﻿@model IEnumerable<StakimMVC4.Models.SimpleBibleGospelData>

@{
    Layout = null;
}

@{
    ViewBag.Title = "휴스턴 한인 성당 - 지난 미사 보기";
}

@using Leap.Helpers

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="/Content/main.css" type="text/css"  />
    <script type="text/javascript" src="/Scripts/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/Scripts/jquery-ui-1.8.20.min.js"></script>
    <script type="text/javascript" src="/Scripts/audio_play.js"></script>
    <script type="text/javascript" src="/Scripts/main.js"></script>
    <script type="text/javascript" src="/Scripts/prev_mass.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#week_list").change(function () {
                find_gospel($(this).attr("value"));
            });
        });
    </script>
</head>
<body>

    <form id="form1" runat="server">
      <br />
      <br />
      <br />
      <br />
    <table width="800" border="0" cellpadding="8" cellspacing="8">
      <tr>
        <td width="30" rowspan="3" ></td>
        <td nowrap valign="top" align="left" class="clsGreyTitle">지난 미사 보기</td>
        <td>
            <div id="week_list_div">
                <select id="week_list">
                  <option value="">원하시는 주일을 선택해 주십시요.</option>
                  @foreach (var gospel in Model)
                  {
                      <option value="@gospel.WeekDate">@Html.DisplayDateTime(gospel.WeekDate) - @gospel.WeekTitle</option>
                  }
                </select>
            </div>
        </td>
      </tr>
    </table>

    <center>
    <div id="gospel_div"></div>
    </center>
    </form>

</body>
</html>
