﻿
@model StakimMVC4.Models.BibleGospelData

@{
    Layout = null;
}

    <table width="960" height="180" border="0" cellpadding="3" cellspacing="3">
        <tr>
          <td width="100"></td>
          <td width="80" height="95" rowspan="5" align="right" valign="top"><img src="/Images/logo.png" height="94" /></td>
          <td width="30" rowspan="5"></td>
          <td width="650" valign="top" align="left" class="clsGreyTitle">@Model.WeekTitle</td>
          <td width="100"></td>
        </tr>
        <tr>
          <td width="100"></td>
          <td align="right" class="clsPageTextBlk">@Model.WeekDate</td>
          <td width="100"></td>
        </tr>
        <tr>
          <td width="100"></td>
          <td align="left">
            <table width="100%">
				<tr>
					<td width="20%">&nbsp;&nbsp;</td>
					<td>
                        <div id="play_title_div" class="clsPageTextBlk">강론 듣기</div>
					</td>
				</tr>
				<tr>
					<td width="20%">&nbsp;&nbsp;	</td>
					<td>
                        <div id="play_list_div"></div>
					</td>
				</tr>
			</table>
          </td>
          <td width="100"></td>
        </tr>
        <tr>
          <td width="100"></td>
          <td align="left" class="clsPageTextBlkBold"><br />@Model.GospelTitle</td>
          <td width="100"></td>
        </tr>
        <tr>
          <td width="100"></td>
          <td align="left" class="clsPageTextBlk">
            <table cellpadding="3" cellspacing="3">
                @foreach (var content in Model.ContentList)
                {
                    <tr>
                        <td valign="top">@Html.DisplayFor(modelItem => content.Chapter).@Html.DisplayFor(modelItem => content.Number)</td>
                        <td>
                            @Html.DisplayFor(modelItem => content.Content)
                        </td>
                    </tr>
                }
            </table>
          </td>
          <td width="100"></td>
        </tr>
    </table>
    <input type='hidden' name='week_date' id='week_date' value='@Model.WeekDateRaw' />