﻿
@{
    ViewBag.Title = "휴스턴 한인 성당 - 이번주 미사";
}

@section Scripts{
    <script type="text/javascript" src="/Scripts/audio_play.js"></script>
    <script type="text/javascript" src="/Scripts/mass.js"></script>
    <script type="text/javascript">
        $(document).ready(function ()
        {
            play("강론 - " + $("#week_date").val(), "http://www.stakim.org/resources/sermons/" + $("#week_date").val() + "-sermon.mp3");
        });
    </script>
}

<center>
<div style="width:700px;text-align:right" class="clsPageTextBlk">
    <a href="#" onclick="javascript:view_today_mass()">
        매일 미사
    </a>
</div>
<br />
<div style="width:700px;text-align:right" class="clsPageTextBlk"><a href="#" onclick="javascript:window.open('/Mass/All/', '_blank', 'height=600,width=900,top=50,left=50,resizable=yes,scrollbars=yes,menubar=no,toolbar=no,location=no')">지난 미사 보기</a></div>
</center>
<div id="gospel_div">
    @Html.Partial("Gospel")
</div>

