﻿@model IEnumerable<StakimMVC4.SpecialLecture>

@{
    ViewBag.Title = "본당 특별 강론";
}

@{
    Layout = null;
}

@using Leap.Helpers

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" />
    <title>휴스턴 한인 성당 - 특별 강론</title>
    <link rel="stylesheet" href="/Content/main.css" type="text/css"  />
    <link rel="stylesheet" href="/Content/tab_menu.css" type="text/css"  />
    <link rel="stylesheet" href="/Content/themes/base/jquery-ui.css" />
    <script type="text/javascript" src="/Scripts/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/Scripts/jquery-ui-1.8.20.min.js"></script>
    <script type="text/javascript" src="/Scripts/audio_play.js"></script>
    <script type="text/javascript" src="/Scripts/main.js"></script>
    <!--<script type="text/javascript" src="/Scripts/lecture_list.js"></script>
    <script type="text/javascript" src="/Scripts/audio.js"></script>
    <script type="text/javascript" src="/Scripts/tab_menu.js"></script>-->
    <script type="text/javascript">
        $(document).ready(function ()
        {
            var selected_obj = $("#tab_menu_table").find("td[from='@ViewBag.from'][to='@ViewBag.to']");
            selected_obj.removeClass("unselected");
            selected_obj.addClass("selected");

            $("td[id^='td_year_']").click(function ()
            {
                var from = $(this).attr("from");
                var to = $(this).attr("to");
                window.open("/Lecture/?from=" + from + "&to=" + to, "_self");
            });
        });
    </script>
</head>
<body>

    <form id="form1" runat="server">
      <br />
      <br />
      <br />
      <br />
      <div align="center">
        <table cellspacing="0" cellpadding="0" border="0" width="900">
            <tr>
                <td valign="top" align="left" class="clsGreyTitle">본당 특별 강론</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <!--<tr>
                <td nowrap="nowrap" align="left" ><font class="clsPageSmallTextBlk">강론을 CD로 수령하시려면 원하시는 자료를 선택하신 후 오른쪽의 '신청하기'를 클릭해 주시기 바랍니다. (자료는 최대 3개까지만 가능합니다.)</font></td>
            </tr>
            <tr>
                <td align="right" nowrap="nowrap"><font id="font_rent" class="clsPageTextFocus" style="cursor:pointer">신청하기</font></td>
            </tr>-->
        </table>
        <table class="tab_menu" id="tab_menu_table" cellspacing="0" cellpadding="0" border="0" width="900">
            <tr>
                <td class="spacer" style="cursor: auto">&nbsp;</td>
                <td class="unselected" id="td_year_2009" from="2004" to="2010" valign="middle" nowrap="nowrap">2004-2010<font style="font-size: 12pt">&nbsp;&nbsp;&nbsp;&nbsp;</font></td>
                <td class="unselected" id="td_year_2003" from="2001" to="2003" valign="middle" nowrap="nowrap">2001-2003<font style="font-size: 12pt">&nbsp;&nbsp;&nbsp;&nbsp;</font></td>
                <td class="unselected" id="td_year_2000" from="1999" to="2000" valign="middle" nowrap="nowrap">1999-2000<font style="font-size: 12pt">&nbsp;&nbsp;&nbsp;&nbsp;</font></td>
                <td class="unselected" id="td_year_1998" from="1997" to="1998" valign="middle" nowrap="nowrap">1997-1998<font style="font-size: 12pt">&nbsp;&nbsp;&nbsp;&nbsp;</font></td>
                <td class="unselected" id="td_year_1996" from="0" to="1996" valign="middle" nowrap="nowrap">&nbsp;&nbsp;-1996<font style="font-size: 12pt">&nbsp;&nbsp;&nbsp;&nbsp;</font></td>
                <td class="spacer" nowrap="nowrap" width="100%">&nbsp;</td>
            </tr>
        </table>

        <br />
        <div id="play_title_div" class="clsPageTextBlk"></div>
        <div id="play_list_div" title="특별 강론 듣기" class="clsPageTextBlk"></div>
        <br />

        <div id="lecture_list_div" class="clsPageTextBlk">
            <table cellspacing="5" cellpadding="5" width="900">
                <tr class="ui-widget-header">
                    <!--<th align="center" width="30">&#160;</th>-->
                    <th align="center" width="120">날짜&#160;</th>
                    <th align="center" width="300">강사&#160;</th>
                    <th align="center" width="460">제목&#160;</th>
                    <th align="center" width="50">&#160;</th>
                </tr>
                @foreach (var lecture in Model)
                {
                    <tr>
                      <!--<xsl:choose>
                        <xsl:when test="((position()) mod 2 &lt; 1)">
                          <xsl:attribute name="class">light</xsl:attribute>
                        </xsl:when>
                        <xsl:otherwise>
                          <xsl:attribute name="class">dark</xsl:attribute>
                        </xsl:otherwise>
                      </xsl:choose>
                      <td align="left" valign="top">
                        <input type="checkbox">
                          <xsl:attribute name="id">
                            <xsl:value-of select="@lecture.id"/>
                          </xsl:attribute>
                          <xsl:attribute name="title">
                            <xsl:value-of select="concat('[', @lecture.date, ':', @lecture.speaker, '] ', @lecture.name)"/>
                          </xsl:attribute>
                          <xsl:attribute name="file_name">
                            <xsl:value-of select="@lecture.filename"/>
                          </xsl:attribute>
                        </input>
                      </td>-->
                      <td align="left" valign="top">
                        @Html.DisplayDate(lecture.date)
                      </td>
                      <td align="left" valign="top">
                        @lecture.speaker @lecture.speaker_info
                      </td>
                      <td align="left" valign="top">
                        @lecture.name
                        @if (lecture.description != null)
                        {
                            <span>(</span>@lecture.description<span>)</span>
                        }
                      </td>
                      <td align="center" valign="top">
                        @if (lecture.short_filename != "")
                        {
                          <!--<a href="#" style="cursor:pointer" onclick="javascript:play_lecture('@lecture.name', '@lecture.short_filename', true)">-->
                          <a href="#" style="cursor:pointer" onclick="javascript:play_prayer('http://@lecture.short_filename', '@lecture.name')">
                            듣기
                          </a>
                        }
                      </td>
                    </tr>
                }
            </table>
        </div>
        <br />
        <br />
	        <hr width="500"/>
	        <div align="center">
		        <table id="Table1" cellspacing="0" cellpadding="0" width="650" border="0">
			        <tbody>
				        <tr>
					        <td class="clsSmallGray" style="PADDING-LEFT: 5px; PADDING-TOP: 10px" align="center">Copyright                                               
						        2007-2010. All Rights Reserved. St. Andrew Kim Catholic Church 1706 Bingle Rd.,                                               
						        Houston, Texas 77055                                              
					        </td>
				        </tr>
			        </tbody>
		        </table>
	        </div>
            <br />
	        <br/>
            <br />
	        <br/>
        </div>
    
    <div id="rent_div" title="자료 신청 하기" class="clsPageTextBlk">
        <span id="rental_info"></span>
    </div>

    </form>

</body>
</html>