﻿@model IEnumerable<StakimMVC4.Models.BoardData>

@{
    ViewBag.Title = "휴스턴 한인 성당 - 본당 소개";
}

@section Scripts{
    <script type="text/javascript" src="/Scripts/index.js"></script>
	<script type="text/javascript">
        $(function()
        {
            /*$("#month_07_01_div").dialog({
                bgiframe: true,
                autoOpen: false,
                width: 600,
                height: 450,
                modal: true,
                buttons: {
                    '닫기': function()
                    {
                        $(this).dialog('close');
                    }
                },
                close: function()
                {
                }
            });

            $("#month_07_02_div").dialog({
                bgiframe: true,
                autoOpen: false,
                width: 600,
                height: 450,
                modal: true,
                buttons: {
                    '닫기': function()
                    {
                        $(this).dialog('close');
                    }
                },
                close: function()
                {
                }
            });*/
        });
	</script>
}

    <!--<div style="width:700px;text-align:right" class="clsMainHeader">
        11월은 위령성월입니다.<br />
    </div>
    <div style="width:700px;text-align:right" class="clsMainHeader">
            <a href="#" onclick="javascript:$('#month_07_01_div').dialog('open');">
                <sub>124위 시복시성을 위한 기도</sub>
            </a>
            &nbsp;
            <a href="#" onclick="javascript:$('#month_07_02_div').dialog('open');">
                <sub>최양업 신부 시복 시성을 위한 기도</sub>
            </a>
    </div>-->
    <!--<div style="width:700px;text-align:right" class="clsMainHeader">
        <a href="#" onclick="javascript:$('#month_01_div').dialog('open');">
            태아를 위한 기도
        </a>
    </div>-->
    <br />

  <table width="960" height="300" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td width="100"></td>
      <td width="120" align="center" valign="top" rowspan="4">
        <p class="clsPageTextBlk">주임 신부</p>
        <p><img src="/Images/Father_Lee.png" /></p>
        <p class="clsPageSmallTextBlk">이용혁 (요한)<br /> (Rev. Yong H. Lee)</p>
      </td>
      <td width="80" rowspan="4"></td>
      <td width="560" align="left" valign="bottom" nowrap="nowrap" class="clsGreyTitle">성모 마리아를 통한 그리스도께로의 봉헌</td>
      <td width="100"></td>
    </tr>
    <tr>
      <td width="100"></td>
      <td height="17" align="right" valign="top" nowrap="nowrap"></td>
      <td width="100"></td>
    </tr>
    <tr>
      <td width="100"></td>
      <td align="left" valign="middle" nowrap="nowrap" class="clsPageTextBlkBold">성모 마리아께서 파티마에서 우리들에게 하신 요청</td>
      <td width="100"></td>
    </tr>
    <tr>
      <td width="100"></td>
      <td align="left" valign="top" >
        <ul>
            <li class="clsPageTextBlk"> 매일 묵주기도를 바쳐라.</li>
            <li class="clsPageTextBlk"> 죄인들의 회개를 위해 많은 기도와 희생을 바쳐라.</li>
            <li class="clsPageTextBlk"> 내 티없는 성심에 봉헌하여라.</li>
            <li class="clsPageTextBlk"> 첫토요일을 지켜라.</li>
        </ul>
      </td>
      <td width="100"></td>
    </tr>
    </table>
    
    <!--<div style="width:700px;text-align:right" class="clsPageTextBlk">
        <a href="Replay">
            <img src='resources/images/new.png' width="40" height="30" border='0'/>
            &nbsp;2009 연말 행사 사진 및 동영상 보기
        </a>
        <br />
        <a href="Lecture">
            <img src='resources/images/new.png' border='0'/>
            &nbsp;본당 특강 듣기
        </a>
    </div>-->

    <div id="content_div" class="clsPageTextBlk">
        <table style="width:960px" border="0" cellpadding="0" cellspacing="0">
        @foreach (var board in Model)
        {
            <tr>
                <td style="width:100px" rowspan="3"></td>
                <td style="height:95px" rowspan="3" align="right" valign="top"><img src="/Images/logo.png" height="94" /></td>
                <td style="width:30px" rowspan="3"></td>
                <td style="width:635px" valign="top" align="left" class="clsGreyTitle">@Html.DisplayFor(modelItem => board.BoardTitle)</td>
                <td style="width:100px" rowspan="3"></td>
            </tr>
            <tr>
              <td class="clsPageTextBlk" align="left">
                <h4>@Html.DisplayFor(modelItem => board.Item)</h4>
              </td>
            </tr>
            <tr>
              <td class="clsPageTextBlk">
                <table style="width:100%">
                  <tbody>
                    <tr>
                      <td valign='top' align='left'>
                        <ul>
                            @foreach (var sub_board in board.SubBoards)
                            {
                                <li>@sub_board.SubItem</li>
                            }
                        </ul>
                      </td>
                     </tr>
                    </tbody>
                  </table>
              </td>
            </tr>
            
            <tr>
                <td>&nbsp;</td>
            </tr>
        }
        </table>
    </div>
    <!--<table width="960" height="180" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td width="100"></td>
          <td height="95" rowspan="3" align="right" valign="top"><img src="resources/images/logo.png" height="94" /></td>
          <td width="30" rowspan="3"></td>
          <td width="635" valign="top" align="left" class="clsGreyTitle">메주고리예 성모님 메시지</td>
          <td width="100"></td>
        </tr>
        <tr>
          <td width="100"></td>
          <td align="right" class="clsPageTextBlk">2010 년 6 월 25 일</td>
          <td width="100"></td>
        </tr>
        <tr>
          <td width="100"></td>
          <td align="left" class="clsPageTextBlk">"사랑하는 아이들아!<br/> 기뻐하며, 나는 너희 모두가<br/> 기쁨으로 내 메세지를 따라 살도록 부른다.<br/> 오직 그렇게 해서, 어린 아이들아,<br/> 너희가 내 아드님께 더 가까워질 수 있을 것이다.<br/> 나는 너희 모두를 오직 그분께로 이끌어 가기를 원한다.<br/> 그분 안에서 너희가 참된 평화와 마음으로 부터 우러나오는 기쁨을<br/> 찾게 될 것이다. 나는 너희 모두를 축복하며<br/> 헤아릴 수 없는 사랑으로 너희를 사랑한다.<br/> 나의 부름에 응답해 주어서 고맙다."</td>
          <td width="100"></td>
        </tr>
    </table>-->
    
    <!--<div id="month_01_div" title="태아를 위한 기도" style="display:none; FONT-FAMILY: NanumGothic; FONT-SIZE: 12pt; COLOR: #000000">
        <span  class="clsPageTextBlk">
생명의 주인이신 하는님 아버지,<br />
우리에게 생명을 주시고, 돌보아 주신 은혜에 감사드리나이다.<br /><br />

당신은 몸소 창조하신 모든 사람들의 아버지이시니,<br />
오늘날 낙태 위협을 받고 있는 태아들을 지켜 주소서.<br /><br />

모든 젊은이에게 순결한 마음을 주시고,<br />
헛된 이기심으로 태아의 생명을 경시하는 현 세대의 그릇된<br />
풍조에서 부모들을 구해주시며, 모든 어머니들을 바른길로<br />
이끄시어, 언제나 어디서나 헌신의 모성애를 지키게 하소서.<br /><br />

또한 모든 사람이 생명의 소중함을 깨닫고,<br />
어떠한 처지에서든지 아버지 당신의 뜻을 따라<br />
생명의 존엄성을 수호하게 하여주소서.<br /><br />

우리 잘못으로 죽어간 태아들에게 자비를 베푸시어,<br />
영원한 안식에 들게 하시고, 자녀를 낙태시킨 우리의<br />
잘못을 진심으로 통회하오니,<br />
지극히 인자로우신 당신의 자비로 용서하여 주소서.<br /><br />

또한 당신이 주신 고귀한 생명을 지키기 위하여 온 힘을 다<br />
기울이도록 우리에게 참된 지혜와 용기를 주소서.<br /><br />

우리 주 그리스도의 이름으로 비나이다.    </div>-->

    <!--<div id="month_07_01_div" title="124위 시복시성을 위한 기도" style="display:none; FONT-FAMILY: NanumGothic; FONT-SIZE: 12pt; COLOR: #000000">
        <span  class="clsPageTextBlk">
        순교자들의 피와 땀으로 십자가의 신비를 드러내시는 하느님 아버지!<br /><br />
        영광과 찬미 받으소서.<br /><br />
        주님께서는 놀라운 방법으로 이 땅에 복음의 씨앗을 뿌려 주시고,<br /><br />
        교회가 성장하도록 은총을 베풀어 주시니 감사하나이다.<br /><br />
        자애로우신 주님! 자랑스러운 믿음의 선조들에게<br /><br />
        시복 시성의 영예를 허락하여 주소서.<br /><br />
        그리하여 저희가 그들과 한 목소리로 아버지의 사랑을 노래하게 하소서.<br /><br />
        또한 저희가 선조들의 순교정신을 본받아 악의 유혹이 끊이지 않는<br /><br />
        이 세상에서 믿음을 굳건히 지키며,<br /><br />
        복음의 증인으로서 살아가도록 성령의 은총으로 도와주소서.<br /><br />
        우리 주 그리스도를 통하여 비나이다. 아멘.<br /><br />
        한국교회의 주보이신 성모 마리아와 성 요셉, 저희를 위하여 빌어주소서.<br /><br />
        한국의 모든 성인 성녀님, 저희를 위하여 빌어 주소서.
        </span>
    </div>
    <div id="month_07_02_div" title="최양업 신부 시복 시성을 위한 기도" style="display:none; FONT-FAMILY: NanumGothic; FONT-SIZE: 12pt; COLOR: #000000">
        <span  class="clsPageTextBlk">
        모든 성인의 덕행으로 찬미 받으시는 전능하시고 영원하신 하느님!<br /><br />
        당신은 일찍이 성교회로 하여금 예수 그리스도의 신앙을 증거하기 위하여<br /><br />
        일생을 바친 성인 성녀들을 공경하여 그 표양을 본받게 하셨나이다.<br /><br />
        박해의 상황에서 주님을 위해 모든 생애를 바치신<br /><br />
        착한 목자 최양업 토마스 신부의 공로에 의지하여 청하오니,<br /><br />
        저희로 하여금 그 가르치신 바를 따르며, 더욱 신앙에 정진하게 하소서.<br /><br />
        또한 최양업 신부의 공로로 저희를 환난 중에 보호하시며,<br /><br />
        저희가 소망하는 대로 최양업 토마스 신부가 복자와 성인들 반열에 들게 하소서.<br /><br />
        우리 주 그리스도를 통하여 비나이다. 아멘.
        </span>
    </div>-->
