﻿@model IEnumerable<StakimMVC4.Models.BoardData>

@{
    ViewBag.Title = "휴스턴 한인 성당 - 주일 학교";
}

@section Scripts{
    <script type="text/javascript" src="/Scripts/school.js"></script>
	<script type="text/javascript">
	    $(function () {
	        $("span[id^='span_short_']").click(function () {
	            $('#span_all_' + $(this).attr('bid')).toggle();
	            $(this).toggle();
	            return false;
	        });
	    });
	</script>
}

    <table width="960" border="0" cellpadding="3" cellspacing="3">
      <tr>
        <td width="100">
        </td>
        <td width="80" height="95" rowspan="2" align="right" valign="top">
          <img src="/Images/logo.png" height="94" />
        </td>
        <td width="30" rowspan="2">
        </td>
        <td width="650" valign="top" align="left" class="clsGreyTitle">
          주일 학교
        </td>
        <td width="100">
        </td>
      </tr>
      <tr>
        <td width="100">
        </td>
        <td width="650" class="clsPageTextBlk">
            <table width="100%" cellspacing='3' cellpadding='3'>
              <tbody>
                <tr>
                  <td valign='top' align='left'>
                    <ul>
                        @foreach (var board in Model)
                        {
                        <li>
                            [@Html.DisplayFor(modelItem => board.WeekDate)] 
                            @if (board.BoardTitle != "주일 학교 공지")
                            {
                                <b>[@board.BoardTitle]</b> 
                            }
                            @if (board.Item != null && board.Item.Length > 30)
                            {
                                <a href="#">
                                    <span id='span_short_@board.Id' bid='@board.Id'>
                                        @board.Item.Substring(0, 30) ...
                                    </span>
                                </a>
                            }
                            else
                            {
                                <a href="#">
                                    <span id='span_short_@board.Id' bid='@board.Id'>
                                        @board.Item
                                    </span>
                                </a>
                            }
                            <span id='span_all_@board.Id' bid='@board.Id' style='display:none'>
                                @board.Item
                                @if (board.SubBoards.Count() > 0)
                                {
                                    <br />
                                    <br />
                                    <ul>
                                        @foreach(var sub_board in board.SubBoards)
                                        {
                                            <li>
                                                @sub_board.SubItem
                                            </li>
                                        }
                                    </ul>
                                }
                            </span>
                            <br />
                            <br />
                        </li>
                        }
                    </ul>
                  </td>
                </tr>
                </tbody>
              </table>
        </td>
        <td width="100">
        </td>
      </tr>
    </table>
    </div>
    <b>
    @if (ViewBag.start_index == 0)
    {
        <span>First&nbsp;&nbsp;</span><span>Prev&nbsp;&nbsp;</span> 
    }
    else
    {
        <a href='./School?s=0'>First&nbsp;&nbsp;</a>
        <a href='./School?s=@(ViewBag.start_index - ViewBag.num_rows)'>Prev&nbsp;&nbsp;</a>
    }
    
    @if (ViewBag.start_index + ViewBag.num_rows >= ViewBag.num_all_boards)
    {
        <span>Next&nbsp;&nbsp;</span><span>Last&nbsp;&nbsp;</span>
    }
    else
    {
        <a href='./School?s=@(ViewBag.start_index + ViewBag.num_rows)'>Next&nbsp;&nbsp;</a>
        <a href='./School?s=@(ViewBag.num_all_boards - ViewBag.num_rows)'>Last</a>
    }
    </b>

