﻿
@{
    ViewBag.Title = "휴스턴 한인 성당 - 자료실";
}

@section Scripts{
    <script type="text/javascript" src="/Scripts/audio_play.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            set_nav_images(5);
        });
    </script>
}

    <table width="960" border="0" cellpadding="8" cellspacing="8">
        <tr>
          <td width="100" rowspan="6" ></td>
          <td height="95" rowspan="6" align="right" valign="top"><img src="/Images/logo.png" height="94" /></td>
          <td width="30" rowspan="6"></td>
          <td valign="top" align="left" class="clsGreyTitle">자료실</td>
          <td width="100" rowspan="6" ></td>
        </tr>
		<!--<tr>
			<td align="left">
				<div class="clsPageTextBlkBold">성경 읽기</div>
				<br />
				<div class="clsPageTextBlk">
			        <table>
                		<tr><td><a href="#" onclick="javascript:window.open('http://stakim.org/BibleBookGenerator/BibleList.aspx', '_blank')">>> 파일로 읽기</a></td></tr>
						--<tr><td><a href="#" onclick="javascript:window.open('http://stakim.org/BibleBook/Index.aspx', '_blank')">>> 차례대로 읽기</a></td></tr>--
                    </table>
				</div>
			</td>
		</tr>-->
		<tr>
			<td align="left">
				<div class="clsPageTextBlkBold">본당 특강<!--&nbsp;<sup>NEW!</sup>--></div>
				<br />
				<div class="clsPageTextBlk">
			        <table>
                		<tr><td>>> <a href="#" onclick="javascript:window.open('Lecture/?from=2004&to=2010', '_blank')">특강 듣기</a></td></tr>
                    </table>
				</div>
			</td>
		</tr>
		<tr>
			<td align="left">
				<div class="clsPageTextBlkBold">묵주 기도&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="clsPageSmallTextBlk" style="text-align:right"><a href="#" onclick="javascript:window.open('http://www.cbck.or.kr/page/misa_page.asp?p_code=K6300&seq=158', '_blank')">묵주 기도 하는 방법</a></span></div>
				<br />
				<div class="clsPageTextBlk">
			        <table>
                		<tr><td>>> 환희의 신비 - </td><td><a href="javascript:play_prayer('http://db.tt/Oz0Mivy', '환희의 신비 - 사도 신경 외')">[사도 신경 외]</a></td>
                			<td><a href="javascript:play_prayer('http://db.tt/4mMpVuC', '환희의 신비 - 1단')">[1단]</a></td>
                			<td><a href="javascript:play_prayer('http://db.tt/95xOcGL', '환희의 신비 - 2단')">[2단]</a></td>
                			<td><a href="javascript:play_prayer('http://db.tt/6JjKeHE', '환희의 신비 - 3단')">[3단]</a></td>
                			<td><a href="javascript:play_prayer('http://db.tt/5bZwWHU', '환희의 신비 - 4단')">[4단]</a></td>
                			<td><a href="javascript:play_prayer('http://db.tt/S9YOAYG', '환희의 신비 - 5단')">[5단]</a></td>                                                                                                                         
                			<td><a href="javascript:play_prayer('http://db.tt/EsEsy5q', '환희의 신비 - 전체')">[전체]</a></td></tr>
				        <tr><td>>> 빛의 신비 - </td><td><a href="javascript:play_prayer('http://db.tt/9Yt6Z1v', '빛의 신비 - 사도 신경 외')">[사도 신경 외]</a></td>
                			<td><a href="javascript:play_prayer('http://db.tt/vURir53', '빛의 신비 - 1단')">[1단]</a></td>
                			<td><a href="javascript:play_prayer('http://db.tt/NylyzTh', '빛의 신비 - 2단')">[2단]</a></td>
                			<td><a href="javascript:play_prayer('http://db.tt/vFg0rX1', '빛의 신비 - 3단')">[3단]</a></td>
                			<td><a href="javascript:play_prayer('http://db.tt/gu9IYcE', '빛의 신비 - 4단')">[4단]</a></td>
                			<!--<td><a href="javascript:play_prayer('', '빛의 신비 - 5단')">[5단]</a></td>-->
                			<td>[5단]</td>
                			<td><a href="javascript:play_prayer('http://db.tt/QQ5Xs7m', '빛의 신비 - 전체')">[전체]</a></td></tr>
				        <tr><td>>> 고통의 신비 - </td><td><a href="javascript:play_prayer('http://db.tt/5IxhSmO', '고통의 신비 - 사도 신경 외')">[사도 신경 외]</a></td>
                			<td><a href="javascript:play_prayer('http://db.tt/unNCbIq', '고통의 신비 - 1단')">[1단]</a></td>
                			<td><a href="javascript:play_prayer('http://db.tt/yvEKjs1', '고통의 신비 - 2단')">[2단]</a></td>
                			<td><a href="javascript:play_prayer('http://db.tt/AvHjfyA', '고통의 신비 - 3단')">[3단]</a></td>
                			<td><a href="javascript:play_prayer('http://db.tt/H55iAzN', '고통의 신비 - 4단')">[4단]</a></td>
                			<td><a href="javascript:play_prayer('http://db.tt/AYUppwi', '고통의 신비 - 5단')">[5단]</a></td>
                			<td><a href="javascript:play_prayer('http://db.tt/JiI443v', '고통의 신비 - 전체')">[전체]</a></td></tr>
				        <tr><td>>> 영광의 신비 - </td><td><a href="javascript:play_prayer('http://db.tt/67zxC2B', '영광의 신비 - 사도 신경 외')">[사도 신경 외]</a></td>
                			<td><a href="javascript:play_prayer('http://db.tt/LYH5oae', '영광의 신비 - 1단')">[1단]</a></td>
                			<td><a href="javascript:play_prayer('http://db.tt/fWWMXLW', '영광의 신비 - 2단')">[2단]</a></td>
                			<td><a href="javascript:play_prayer('http://db.tt/mre8ncQ', '영광의 신비 - 3단')">[3단]</a></td>
                			<td><a href="javascript:play_prayer('http://db.tt/ev3DYPe', '영광의 신비 - 4단')">[4단]</a></td>
                			<td><a href="javascript:play_prayer('http://db.tt/Js8zzVu', '영광의 신비 - 5단')">[5단]</a></td>
                			<td><a href="javascript:play_prayer('http://db.tt/RavuMG4', '영광의 신비 - 전체')">[전체]</a></td></tr>
           			</table>
             	</div>
			</td>
		</tr>
		<tr align="center">
			<td>
				<!--<iframe name="player" src ="resources_play.html" width="100%" height="150" frameborder="0" scrolling="no">
					원하시는 자료를 들으시려면 사용하고 계신 웹브라우저를 최신 버전으로 업그레이드 하시기 바랍니다.                                                             
				</iframe>-->
                <div id="play_title_div" class="clsPageTextBlk"></div>
                <br />
                <div id="play_list_div"></div>
			</td>
		</tr>
        <tr>
			<td align="left">
				<div class="clsPageTextBlkBold">관련 사이트</div>
				<br />
				<div class="clsPageTextBlk">
			        <table>
                		<tr><td><a href="#" onclick="javascript:window.open('http://www.cbck.or.kr/', '_blank')">>> 한국 천주교 주교회의</a></td></tr>
						<tr><td><a href="#" onclick="javascript:window.open('http://www.catholic.or.kr/', '_blank')">>> 가톨릭인터넷 Goodnews</a></td></tr>
						<!--<tr><td><a href="#" onclick="javascript:window.open('http://www.pccm.or.kr/', '_blank')">>> 천주교 생활성가 인터넷 방송국</a></td></tr>-->
                        <tr><td><a href="#" onclick="javascript:window.open('http://www.diogh.org/', '_blank')">>> 갈베스톤 - 휴스턴 교구</a></td></tr>
                    </table>
				</div>
			</td>
		</tr>
	</table>